<div class="navbar">
    <div class="left controls">
        <div class="logo">
            <button mat-icon-button class="color-yellow">
                <mat-icon class="icon">
                    book
                </mat-icon>
            </button>
        </div>
        <div class="title"><span>{{ title }}</span></div>
    </div>
    <div class="middle controls">
        <form class="search-bar" (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm">
            <button mat-button>
                <mat-icon class="search-bar__icon">
                    search
                </mat-icon>
            </button>
            <input class="search-bar__input" name="searchText" placeholder="Search" ngModel />
            <button mat-button (click)="clearSearch()">
                <mat-icon class="search-bar__icon">
                    close
                </mat-icon>
            </button>
            <input type="submit" hidden>
        </form>
    </div>
    <div class="right controls">
        <mat-menu #appMenu="matMenu" xPosition="before">
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Help</button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu" class="color-blue">
            <mat-icon class="icon">
                account_circle
            </mat-icon>
        </button>
    </div>
</div>