<div class="container">
    <div class="title" *ngIf="!editing">{{ note.title }}</div>
    <div class="title" *ngIf="editing">
        <input type="text" name="title" [(ngModel)]="title" placeholder="Title">
    </div>
    <div class="note" *ngIf="!editing">{{ note.description }}</div>
    <div class="note" *ngIf="editing">
        <textarea type="text" name="note" [(ngModel)]="description" placeholder="Take a note..."
            (input)="autoTextAreaHeight(descriptionElement)" #descriptionElement></textarea>
    </div>
    <div class="options">
        <div class="icons" *ngIf="!editing">
            <button mat-icon-button (click)="onEditButtonClick()">
                <mat-icon class="icon" matTooltip="Edit">
                    edit
                </mat-icon>
            </button>
            <button mat-icon-button (click)="onDeleteButtonClick()">
                <mat-icon class="icon" matTooltip="Delete">
                    delete
                </mat-icon>
            </button>
            <button mat-icon-button (click)="onDoneButtonClick()" class="done">
                <mat-icon class="icon" matTooltip="Done" [ngClass]="{'color-green': note.completed}">
                    check_circle
                </mat-icon>
            </button>
        </div>
        <button *ngIf="editing" type="button" mat-button (click)="onSaveButtonClick()">Close</button>
    </div>
</div>